.activity-card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;
}

    .activity-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

.selected-activity {
    animation: expand 0.5s ease-in-out;
}
/* Agrega esto en tu archivo CSS (assets/css/ServiciosStyle.css) */
#activityDetail {
    margin-top: 30px;
}

@media (max-width: 768px) {
    #activityDetail {
        max-height: 400px;
    }

        #activityDetail .card {
            width: 100%;
        }
}

.selected-activity .card-header {
    position: sticky;
    top: 0;
    z-index: 1;
}

.activity-image {
    object-fit: cover;
    max-height: 300px;
}
.carousel-control-prev,
.carousel-control-next {
    background-color: rgba(0, 0, 0, 0.8); /* Fondo más oscuro y semitransparente */
    border-radius: 50%; /* Bordes redondeados */
    width: 40px; /* Ancho */
    height: 40px; /* Alto */
    top: 50%; /* Centrar verticalmente */
    transform: translateY(-50%); /* Ajuste fino para centrar */
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    filter: drop-shadow(0 0 3px rgba(0, 0, 0, 0.9)); /* Sombra más oscura */
}

.carousel-control-prev {
    left: 15px; /* Posición desde la izquierda */
}

.carousel-control-next {
    right: 15px; /* Posición desde la derecha */
}