.form-container {
    border: 1px solid var(--accent);
    border-radius: 10px;
    padding: 20px;
    background-color: white;
}

    .form-container input,
    .form-container textarea {
        border: none;
        border-bottom: 2px solid var(--accent);
        border-radius: 0;
    }

        .form-container input:focus,
        .form-container textarea:focus {
            box-shadow: none;
            border-bottom: 2px solid var(--secondary);
        }

.section-title {
    font-weight: bold;
    color: var(--primary);
    margin-bottom: 20px;
}

.location-box {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    border: 1px solid var(--accent);
}

@media (max-width: 768px) {
    .flex-column-md {
        flex-direction: column !important;
    }
}
