:root {
    --primary: #205781;
    --secondary: #4F959D;
    --accent: #98D2C0;
    --light: #F6F8D5;
}


body {
    background-color: #F6F8D5;
}
.icono {
    width: 24px;
    height: auto;
}

.icono-small {
    width: 15px;
    height: auto;
}
.icono-big {
    width: 40px;
    height: auto;
}
.bg1color {
    background-color: #205781;
}
.bg2color {
    background-color: #4F959D;
}
.bg3color {
    background-color: #98D2C0;
}
.bg4color {
    background-color: #F6F8D5;
}
.bg1gradient {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
}
.c1color {
    color: #205781;
}

.c2color {
    color: #4F959D;
}

.c3color {
    color: #98D2C0;
}

.c4color {
    color: #F6F8D5;
}