.hero-section-inicio {
    background: linear-gradient(to right, var(--primary), var(--secondary));
    min-height: 80vh;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    padding-top: 80px;
    color: white;
}

.navbar-custom-inicio {
    transition: all 0.3s ease;
}

    .navbar-custom-inicio.scrolled {
        background-color: var(--primary) !important;
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    }


.vavbarItemActive {
    color: var(--light);
}
.vavbarItem {
    color: var(--accent);
}
.newsletter-section {
    background: linear-gradient(135deg, var(--primary), var(--secondary));
    padding: 5rem 0;
    margin-top: 3rem;
}

.newsletter-form .form-control {
    border: none;
    border-radius: 50px 0 0 50px;
    padding: 1rem 1.5rem;
    height: auto;
}

.newsletter-form .btn-hero {
    border-radius: 0 50px 50px 0;
    padding: 0 2rem;
}

.btn-hero {
    background-color: var(--accent);
    color: var(--primary);
    font-weight: 600;
    transition: all 0.3s ease;
    border: none;
}