.counter {
    padding: 20px 0;
    border-radius: 5px;
}
.c1 {
    background-color: #4ecdc4;
}
.c2 {
    background-color: #c7f464;
}
.c3 {
    background-color: #81d4fa;
}
.c4 {
    background-color: #fd6a6a;
}
.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #FF5E00;
}
.date-range-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.combobox-container {
    margin-left: auto; 
}