.service-card {
    cursor: pointer;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: white;  
}

    .service-card:hover {
        transform: translateY(-5px);
        box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    }

.selected-service {
    animation: expand 0.5s ease-in-out;
}
/* Agrega esto en tu archivo CSS (assets/css/ServiciosStyle.css) */
#serviceDetail {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo semitransparente */
}
 
.card {
    border: 1px solid #98D2C0 !important;
}
@keyframes expand {
    from {
        transform: scale(0.95);
        opacity: 0;
    }

    to {
        transform: scale(1);
        opacity: 1;
    }
}

.service-image {
    height: 200px;
    object-fit: cover;
}
